.tab-container{
  width: 95%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  .tab-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .tab-item{
      width: 29%;
      height: 46%;
      border-radius: .3rem;
      background: #F4F8FB;
      font-size: .85rem;
      color: black;
      text-align: center;
      line-height: 2.3rem;
    }
    .current{
      background: #F8CE5E;
      color: white;
    }
  }

}
